<header>
    <div class="container"> 
        <div class="logo-botao">
            <a href="index.html"><img class="logo" src="assets/img/logo-site-NOVO.png"  alt="Logo do site Geométrica"> </a>      
                <!-- width="100%" -->
                <!-- height="90px"  -->
        </div>
       
        <nav id="menu" class="menu">
                <a routerLink = "login">Login</a>
                <a routerLink="jogar">Jogar</a>
                <a routerLink ="home">Home</a>
        </nav>  

        <a href="#" id="barras"><img class="barras" src="assets/img/menu.png" alt= "menu de barras"></a>
    </div> 
</header>

