<body>
<main>
    <div class="banner">
        <div class="container-grid posicao-texto">
            <div class="texto-banner">
               <h2>A geometria da vida</h2>
               <p>Aprenda a criar seus próprios padrões, imprima e decore!</p>
               <a href="">Confira!</a>                     
            </div>
        </div>
    </div>
    <div class="container"> 
        <div class = "conteudo-body">
           <div class ="row">
               <div class = "col-md-12 col-lg-4">
                <section class="o-que-e"  >
                    <h2>O que é geométrica?</h2>
                    <p>Geométrica é um jogo para quem gosta de desafios lógicos,num ambiente visualmente deslumbrante</p>
                 </section> 
               </div>
               <div class = "col-md-12 col-lg-4">
                <section class="como-jogar">
                    <h2>Como jogar?</h2>
                     <p>Jogue em pares ou modo solo, resolvendo puzzles inspirados na geometria oriental</p>
                </section >
               </div>
               <div class = "col-md-12 col-lg-2">
                <section class ="baixar">
                    <h2>Baixe Agora!</h2>
                    <a href="#"><img class="Baixar-botao" src="assets/img/download.png" alt="botao baixar"></a>
                 </section>
               </div>
           </div>                           
       </div>       
   </div>  
   <div class="container">
        <div class="conteudo-body">
            <div class="row">
                <div class="col-md-12 col-lg-10">
                    <section class="lancamentos-container">
                        <h2>Últimos lançamentos</h2>
                        <img src="assets/img/ilustra_origens.jpg" alt="ilustra origens" >
                        <img src="assets/img/ilustra_fogo_sagrado.jpg" alt="ilustra_fogo_sagrado" >
                    </section>
                </div>

                <div class ="col-md-12 col-lg-2">
                    <section class="forum" >
                        <article>
                        <h2>Fórum</h2>
                        <p>Sagrada: como passar da fase 3?</p>
                        <p>Qual é o seu jogo favorito?</p>
                        </article>
                    </section>
                </div>
            </div>
        </div>
   </div>
<div class="container">
    <div class ="row">
        <div class="col-md-12 col-lg-8">
            <section class="lojinha">           
                <h2>Nossa lojinha</h2>
                <div class="ilustracoes">
                <img src="assets/img/ilustra_oculos.jpg" alt="ilustra ilustra_oculos" widht=210px height="175px">
                <img src="assets/img/ilustra_fone.jpg" alt="ilustra_fone" width="210px" height="175px">
                <img src="assets/img/ilustra_colorir.jpg" alt="ilustra_colorir" width="210px" height="175px">
                </div>
            </section>
        </div>  

        <div class ="col-md-12 col-lg-4">    
            <section  id= listaLivros class= "livros">
                <h2>Livros</h2>
                <div class=livrosVenda>
                    <h3>A geometria oriental - simbologias</h3>
                    <img src="assets/img/ilustra_livro.jpg" alt="foto_livro"    width="210px" height="175px">
                    <p>Aprofunde seu conhecimento sobre o tema</p>
                </div>  
             </section> 
        </div>
    </div>
</div>
</main>
<script src="js/jquery-3.6.0.js"></script>
<script src="js/script.js"></script>
<!-- Acima está o caminhi que se faz pra linkar o arquivo js externo que esta na pasta js ao site/home-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"> </script>

</body>