
 /* ---- FORMULÁRIO -----  */
 
/* .ng-invalid .ngtouched:not(form){
     border: #bd0606;
 }*/

main{
    font-family: 'Gemunu libre', sans-serif; 
    align-items: center;      
    justify-content: center;
  }
 
  form label{
     display: inlineblock;
      margin: 10px;
      font-size: 25px;
    
  }
 
  form input{
      display: inline-block;
      margin-bottom: 20px;
      padding: 5px 15px;
      width: 50%;
  }
 
  .buttom{
      width: 20%;
      background: #C4C4C4;
      font-weight: bold ;
      font-size: 30px;
      align-content: center;
      border:none;
      transition: 1s ;
      margin:30px;    
  }
  
  .enviar:hover{
      background: #bd0606;
      transition: 0.8s;
  }
 
  fieldset{
      background-color:  #fffa7b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 60px 400px 60px 400px;
        
  }
