<main>
    <fieldset> 
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <!--a # aqui funciona como o  "class" no html sem angular,no caso, o nome desse formulario é #userForm, poderia ser qq nome, tipo #formularioLogin.  O ngSubmit é uma diretiva para o evento "submit" do botão de entrar
             -->
        
            <label for="email"> E-mail: </label> 
            <input type="email" id="email" name="email" [(ngModel)]= "userModel.email" >
            <br>
            <label for= "senha"> Senha: </label>
            <input type="password" id= "senha" name="senha" [(ngModel)] = "userModel.senha" >

            <button type="submit">Entrar</button>

        </form>
    </fieldset>
</main>
